.body {
    margin: 0;
}

.mainDiv {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.innerDiv {
    height: 100px;
    width: 17%;

    border: 2px solid red;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 40px;

    background: #c3efdb;
}

.button{
    height: 30px;
    width: 30px;
}