body{
    margin: 0;
}

.big{
    width: 100%;
    height: 600px;
    background: #c9d7e3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 200px;
    height: 300px;
    background: #f1f0f0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;

    border: 1px solid black;
    border-radius: 20px;
    position: relative;
}
.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f0f0;
    position: absolute;
    top:-30px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 150px;
    height: 30px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-family: "Calibri Light", serif;

    border: 1px solid black;
    border-radius: 5px;
    background: #d2f8d4;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: lime;
    font-family: Dialog, system-ui;
    height: 20px;
}

p{
    font-family: Cambria, serif;
    text-align: center;
}
i{
    color: #38933d;
    font-size: 30px;
}

